/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Freckle+Face');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Varibles
$logo: 'Freckle Face', cursive;
$roboto: 'Roboto', sans-serif;

// Color Variables
$corporate: #419149;
$sep-gray: #E6E6EB;
$border-gray: #cccccc;

#logo {
  font-family: $logo;
  font-size: 30px;
  color: $corporate;
}

.login-signup-demo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $sep-gray;
  padding: 0 16px;
  height: 50px;
  align-items: center;
}

.login-button {
  border-radius: 3px;
  border: 1px solid $border-gray;
  font-size: 14px;
  text-decoration: none;
  font-family: $roboto;
  padding: 10px 30px;
  font-weight: 700;
  color: $corporate;
}
