/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Varibles
$logo: 'Gugi', cursive;
$main-font: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;

// Color Variables
$corporate: #005260;
$gray: #cccccc;

#user-dropdown-btn {
  display: flex;
  align-items: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header-logo {
  color: $corporate;
  font-family: $logo;
  font-size: 30px;
  padding-top: 4px;
}

.header-nav {
  display: flex;
  border-bottom: 1px solid $gray;
  justify-content: space-between;
  font-family: $main-font;
  height: 50px;
  align-items: center;
  min-width: 250px;

  .left-nav {
    display: flex;
    padding-left: 5vw;
  }

  .right-nav {
    padding-right: 5vw;
  }

  .left-nav > ul {
    display: flex;
  }

  .right-nav > ul {
    display: flex;
  }

  .header-button {
    color: $corporate;
    font-weight: 700;
    border: 1px solid $gray;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  }

  .header-button:hover {
    background-color: gainsboro;
    border-color: darkgrey;
  }


}



// .header-content {
//   display: flex;
//   border-bottom: 1px solid $sep-gray;
//   height: 50px;
//   justify-content: space-around;
//   min-width: 250px;
//
//   div {
//     font-family: $logo;
//     font-size: 30px;
//     color: $corporate;
//     margin: auto 0;
//     padding-top: 4px;
//   }
// }
//
// .login-nav {
//   border-radius: 5px;
//   border: 1px solid $border-gray;
//   font-size: 14px;
//   font-family: $main-font;
//   padding: 10px 30px;
//   margin: auto 0;
//
//   a {
//     text-decoration: none;
//     color: $corporate;
//     font-weight: 700;
//     line-height: 1.5;
//   }
// }
