/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Varibles
$logo: 'Gugi', cursive;
$main-font: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Color Variables
$corporate: #005260;
$gray: #cccccc;

#user-dropdown-btn {
  display: flex;
  align-items: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header-logo {
  color: $corporate;
  font-family: $logo;
  font-size: 30px;
  padding-top: 4px;
}

.header-nav {
  display: flex;
  border-bottom: 1px solid $gray;
  justify-content: space-between;
  font-family: $main-font;
  height: 50px;
  align-items: center;
  min-width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;

  .left-nav {
    display: flex;
    padding-left: 5vw;
  }

  .right-nav {
    display: flex;
    padding-right: 5vw;
  }

  .left-nav > ul {
    display: flex;
  }

  .right-nav > ul {
    display: flex;
  }

  #splash-login-button {
    color: $corporate;
    font-weight: 700;
    border: 1px solid $gray;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  }

  #splash-login-button:hover {
    background-color: gainsboro;
    border-color: darkgrey;
  }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: $main-font;
    #root {
      height: 100%;
      div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
}

// .bg {
//     background-image: url("session/00_image.jpg");
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #login-title {
    margin-top: 50px;
    min-width: 300px;
    width: 400px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.875);
    color: white;
    font-weight: 100;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .login-form-box {
    display: flex;
    background-color: rgba(0, 0, 0, .75);
    min-width: 300px;
    height: 375px;
    width: 400px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    .login-input {
      background-color: rgba(0, 0, 0, .5);
      border: 1px solid $gray;
      width: 275px;
      font-size: 14px;
      padding: 10px 12px;
      margin: 6px 0;
    }

    .login-input:focus {
      background-color: white;
      color: black;
    }

    .login-input:valid:not(:focus) {
      color: white;
    }

    .session-form-separator {
      font-size: 18px;
      font-weight: 100;
      color: $gray;
      font-family: $main-font;
    }

    .login-form-button {
      width: 300px;
      height: 40px;
      border-radius: 3px;
      border: 1px solid $corporate;
      background-color: $corporate;
      color: white;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      margin: 20px 0;
    }

    #demo {
      vertical-align: middle;
      display: inline-block;
      line-height: 40px;
    }

  }
}
