@import "variables";

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $backgroundgray;
  height: calc(100% - 50px);
  width: 100%;
  top: 25px;
  background-attachment: fixed;

  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;

  .col2 {
    overflow-y: scroll;
    height: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .col1 {
    margin-left: 6vw;
  }

  .col3 {
    margin-right: 6vw;
  }
}
