@import "variables";

.map-container {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

.map {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  top: 50px;
}

#control-ui {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
  title: 'Click to recenter the map';

  #control-text {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
