@import "variables";

.route-builder-container {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  #left-nav {
    padding-left: 3vw;
    display: flex;
    align-items: center;
    .new-route-tagline {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
    }
  }
  #right-nav {
    padding-right: 3vw;
  }

  .route-builder-controls {
    display: flex;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    height: 50px;
    align-items: center;
    min-width: 250px;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: $map-nav-gray;
    z-index: 101;


    .right-controls {
      padding-right: 3vw;
      #no-directions-button {
        background-color: $lightercorporate;
        cursor: default;
      }

      .route-builder-button {
        background-color: $corporate;
        color: white;
        font-weight: 700;
        padding: 12px 30px;
        font-size: 14px;
        transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
        &:hover {
          background-color: $darkcorporate;
        }
      }

      .save-form-modal-container-close {
        display: none;
      }

      .save-form-modal-container-open {
        display: block;
        position: fixed;
        z-index: 102;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
      }

      .save-form-modal-content {
        position: relative;
        top: -15%;
        margin: 15% auto;
        padding: 20px;
        width: 600px;
        min-width: 600px;
        #save-form-title {
          background-color: $save-form-header-gray;
          color: $darkestgray;
          padding: 10px 30px;
          font-size: 30px;
          font-weight: 300;
          border-bottom: 1px solid $gray;
        }
        .save-form {
          background-color: $save-form-body-gray;
          display: flex;
          flex-direction: column;
          align-content: center;
          padding: 10px 30px;
          font-size: 14px;
          color: $darkgray;
          label {
            color: $darkgray;
            padding: 10px 0;
            font-weight: 100;
            font-size: 13px;
          }
          .save-form-input {
            background-color: white;
            padding: 10px 5px;
            border: 1px solid $gray;
          }
          .save-form-textarea {
            background-color: white;
            padding: 10px 5px;
            height: 40px;
            border: 1px solid $gray;
          }
        }
        .modal-form-buttons {
          display: flex;
          justify-content: flex-end;
          background-color: $save-form-body-gray;
          height: 70px;
          padding: 0 30px;
          font-size: 14px;
          align-items: center;
          .modal-button {
            margin-left: 10px;
            border: 1px solid $gray;
            padding: 10px 15px;
          }
          .modal-form-cancel {
            background-color: white;
            color: $darkestgray;
            transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
            &:hover {
              background-color: $map-search-gray;
            }
          }
          .modal-form-save {
            background-color: $darkestgray;
            color: white;
            transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
            &:hover {
              background-color: $darkgray
            }
          }
        }
        .modal-close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          padding-right: 10px;
          &:hover {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .left-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 3vw;
      .route-search-form {
        display: flex;
        align-items: center;
        padding-right: 50px;
        .route-search-form-input {
          background-color: white;
          font-size: 14px;
          font-weight: 100;
          color: $darkgray;
          width: 250px;
          padding: 12px 10px;
        }
        .route-search-form-submit {
          background-color: $map-search-gray;
          padding: 9px 15px 8px;
          display: flex;
          align-items: center;
          transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
        }

        .route-search-form-submit:hover {
          background-color: $map-select-gray;
          color: white;
        }
      }

      .route-creation-controls {
        display: flex;
        padding-right: 50px;

        #travelmode-selected {
          background-color: $map-select-gray;
          i, label {
            color: white;
          }
        }

        .route-creation-individual-control {
          display: flex;
          flex-direction: column;
          align-content: center;
          margin: 0 2px;
          padding: 0 10px;
          transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;

          i {
            color: $map-icon-gray;

          }
          label {
            text-align: center;
            font-size: 12px;
            color: $darkgray;
            cursor: pointer;
          }
        }

        .route-creation-individual-control:hover {
          background-color: $map-search-gray;

          i, label {
            color: black;
          }
        }

        .route-creation-individual-control:active {
          background-color: $map-select-gray;
          i, label {
            color: white;
          }
        }
      }

    }
  }

  .route-statistics-component {

    .route-statistics-map-nav {
      display: flex;
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
      justify-content: space-between;
      height: 50px;
      align-items: center;
      min-width: 250px;
      position: fixed;
      left: 0;
      bottom: 5%;
      width: 94vw;
      background-color: $map-nav-gray;
      z-index: 101;
      margin-left: 3vw;
    }
  }
}

#exit-builder-link {
  font-size: 14px;
  color: $gray;
  font-weight: 100;
}

#exit-builder-link:hover {
    color: $corporate;
  }

.map-container {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

.map {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  top: 100px;
  z-index: 100;
}
