@import 'variables';

.route-index-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 50px;
  left: 0;

  .route-index-header {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 1px solid $gray;

    h1 {
      font-family: $main-font;
      font-size: 30px;
      font-weight: 300;
      color: $almostdarkestgray;
      margin-bottom: 30px;
    }

    .new-route-button {
      text-align: center;
      width: 150px;
      background-color: $corporate;
      color: white;
      font-weight: 700;
      padding: 12px 0;
      font-size: 14px;
      transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
      &:hover {
        background-color: $darkcorporate;
      }
      &:active {
        background-color: $lightcorporate;
      }
    }
  }

  .route-detail-component {
    display: flex;
    width: 290px;
    flex-direction: column;


    .route-detail-image {
      background-position: center;
      background-repeat: no-repeat;
      width: 290px;
      height: 190px;

    }
  }

}
