// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Varibles
$logo: 'Gugi', cursive;
$main-font: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Color Variables
$corporate: #005260;
$darkcorporate: #003f49;
$lightcorporate: #005f70;
$gray: #cccccc;
$darkgray: #666666;


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Background images
$backgrounds: "session/00_image.jpg"
              "session/01_image.jpg"
              "session/02_image.jpg"
              "session/03_image.jpg"
              "session/04_image.jpg"
              "session/05_image.jpg"
              "session/06_image.jpg"
              "session/07_image.jpg";
