// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Varibles
$logo: 'Gugi', cursive;
$main-font: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Color Variables
$corporate: #005260;
$darkcorporate: #003f49;
$lightcorporate: #005f70;
$lightercorporate: #a9c6cc;
$gray: #cccccc;
$darkgray: #666666;
$red: #d9534f;
$map-nav-gray: #F1F1F1;
$map-select-gray: #6F6F6F;
$map-icon-gray: #929292;
$map-search-gray: #E6E6EB;
$save-form-header-gray: #F7F7F7;
$save-form-body-gray: #F0F0F0;
$almostdarkestgray: #2d2d32;
$darkestgray: #2E2D32;
$typebuttongray: #757575;
$backgroundgray: #F5F5FA;



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Background images
$backgrounds: "session/00_image.jpg"
              "session/01_image.jpg"
              "session/02_image.jpg"
              "session/03_image.jpg"
              "session/04_image.jpg"
              "session/05_image.jpg"
              "session/06_image.jpg"
              "session/07_image.jpg";

// Icons"
// <i className="material-icons md-30">directions_run</i>
// <i className="material-icons md-30">directions_bike</i>
// <i className="material-icons md-30">clear</i>
// <label>Redo</label>
// <label>Undo</label>
// <i className="material-icons">search</i>
// <i className="material-icons md-18">keyboard_arrow_down</i>
// <i className="material-icons md-24 circle-show">add_circle_outline</i>
// <i className="material-icons md-24 circle-hidden">add_circle</i>
